* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Microsoft YaHei UI', 'Microsoft Sans Serif',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #ffffff;
}

#app {
  min-height: 100vh;
  padding: 0px 14px;
}

